
<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
        id="1"
        photoCover="https://comicvine.gamespot.com/a/uploads/original/14/146573/2835840-Morel_profilepicture.png"
        cardTittle="Morel Mackernasey"
        cardDescription="Hunter do tipo Manipulação em Hunter x Hunter. Ele é um dos subordinados de Netero na missão contra as Formigas Quimera e usa um enorme cachimbo para manipular fumaça, criando clones e estratégias de distração. Ele é bem experiente, tem uma personalidade confiante e um estilo de luta criativo."
        ></app-big-card>
        
    </div>
    
    <div class="articles__others">
        <app-small-card 
        id="2"
        photoCover="https://i.imgur.com/mxTkUWi.jpeg" 
        cardTitle="Se você tem tempo para pensar em um belo final, então viva o suficiente para encontrar um.">
        </app-small-card>
        <app-small-card 
        id="3"
        photoCover="https://i.imgur.com/mxTkUWi.jpeg"
        cardTitle="O desespero pode ser um grande motivador... mas se você não conseguir controlá-lo, será consumido por ele">
        </app-small-card>
    </div>
</div>
